.error {
    color: red;
}
.productDetail {
    h2 {
        margin: 30px 0px;
        color: lighten($color: #000000, $amount: 35);
    }

    p {
        margin-bottom: 1rem;
    }

    button {
        width: 100%;
        border: none;
        padding: 15px 30px;
        cursor: pointer;
        background: #000;
        color: white;
        font-size: 16px;
        transition: all .2s ease;

        &:hover{
            background: #2c2929 ;
        }
    }

    &__section {
        margin: 20px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1rem;
        border-top: 1px black solid;
        border-bottom: 1px black solid;

        padding: 10px 0px;
        .icon {
            display: flex;
            span {
                margin-left: 15px;
            }
        }
    }
}

