@mixin breakpoint($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: $phone) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: $tab-land) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: $tab-port) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: $big-desktop) {
      @content;
    }
  }
}

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin flex-place-center{
  display: flex;
  justify-content: center;
  align-items: center;
}